@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
}

/* @keyframes bg-translate
{
    0%{
        background-position-x: 100%;
    }
    100%{
        background-position-x: -100%;
    }
} */

.flappy-world{
    width: 100%;
    height: 100%;
/* 
    background-image: url(../images/background.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position-x: 100%; */
    /* animation-name: bg-translate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}